.wrapper {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  border-radius: 10px;
  padding-top: 15px;
  max-width: 510px;
  margin: 0 auto;
  overflow: hidden;
}

.avatar {
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #282828;
}

.name {
  font-size: xx-large;

  font-weight: 700;
  padding: 20px 0px 15px;
}

.tag {
  color: grey;
  font-size: x-large;
}

.location {
  composes: tag;
  padding-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: lightgray;
}

.statsListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100% - 0px) / 3);
  border-top: gray solid 2px;
  padding: 10px 0;
}

.statsListItem:not(:last-child) {
  border-right: gray solid 2px;
}

.statName {
  font-size: x-large;
}

.statValue {
  composes: statName;
  font-weight: 600;
}
